/* index.css */
body {
    background-color: #EEE;
    font-family: 'Lato', sans-serif;
}

a, a:link, a:visited {
    color: #555;
    text-decoration: underline;
}

a:hover, a:active {
    color: #777;
}

#bigtitle, #bigsubtitle {
    font-family: 'Courgette', sans-serif;
    letter-spacing: -2px;
}

#bigtitle {
    font-size: 26pt;
    color: #444;
    text-shadow: 0px 2px #AAA;
}

#bigsubtitle {
    font-size: 24pt;
    color: #777;
    position: relative;
    top: -15px;
}

#bigdate, #bigbrewery {
    font-family: 'Courgette', sans-serif;
    font-size: 14pt;
    color: #555;
    position: relative;
    top: -15px;
}

p#bigbrewery div.breweryaddress {
    font-size: 12pt;
    color: #999;
}

span.breweryname, div.breweryaddress a {
    color: inherit;
    text-decoration: underline;
}

#footer {
    text-align: left;
}

h4 {
    text-transform: uppercase;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 2px;
}

#importantstuff .row {
    margin-bottom: 12pt;
}

#importantstuff .stuffq {
    color: #777;
    font-size: 11pt;
    text-transform: uppercase;
}

.hotel {
    margin-bottom: 25px;
}

.hotel .hotel-info .hotel-name {
    font-weight: bold;
}

#carousel {
    border: 2px solid #CCC;
    box-shadow: 0px 0px 20px 15px #FFF
}