<div id="importantstuff" class="text-center">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <span id="bigtitle">MELISSA &amp; OWEN</span><br/>
                        <span id="bigsubtitle">GET MARRIED!</span>
                    </p>
                </div>
                <div class="col-xs-12">
                    <span id="bigdate">Saturday, April 8<sup>th</sup>, 2017, 2:15 p.m.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div uib-carousel="" id="carousel" 
            active="main.carousel.landscape.active" 
            interval="main.carousel.slideInterval"
            ng-show="main.carousel.show">
                <div uib-slide="" ng-repeat="slide in main.carousel.slides.landscape track by slide.id" index="slide.id">
                    <!-- htmllint img-req-src="false" -->
                    <img class="img-responsive" ng-src="{{slide.url}}" alt="{{slide.caption}}">
                    <!-- htmllint img-req-src="$previous" -->
                    <div class="carousel-caption">
                        {{slide.caption}}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-link btn-xs" role="button" ng-show="main.carousel.show" ng-click="main.carousel.show = !main.carousel.show">
                    Hide photos
                </a>
                <a class="btn btn-default btn-sm btn-block" role="button" ng-show="!main.carousel.show" ng-click="main.carousel.show = !main.carousel.show">
                    Show photos
                </a>
            </div>
        </div>
    </div>
</div>
