<h4>Need a hotel?</h4>
<div class="row">
    <div class="col-xs-offset-1">
        <p>Below are some options, including one with a group rate.</p>
        <p>
            If you find better accommodations in the area, feel free to stay there.<br/>
            Just make sure you check up on the quality of their chicken dinners first.
        </p>
        <div class="row hotel" ng-repeat="hotel in main.hotels">
            <hotel-info hotel="hotel"></hotel-info>
        </div>
    </div>
</div>
