<div id="schedulelocation">
    <div class="row">
        <div class="col-xs-9">
            <h4>General Information</h4>
        </div>
        <div class="col-xs-offset-1 col-xs-10">
            <h4>Location</h4>
            <p>
                The <span id="breweryname"><a href="http://frankenmuthbrewery.com/" target="_blank">Frankenmuth Brewery</a></span>
                is the location of both the ceremony and reception.
            </p>
            <p>
                Address: 
                <span id="breweryaddress">
                    <a href="https://www.google.com/maps/place/Frankenmuth+Brewery/@43.3311638,-83.7377902,15z/data=!4m5!3m4!1s0x0:0xf7b1d07fdb1e1e84!8m2!3d43.3311638!4d-83.7377902" target="_blank">425 S Main St, Frankenmuth, MI 48734</a>
                </span>
            </p>
        </div>
        <div class="col-xs-offset-1 col-xs-9">
            <h4>Parking</h4>
            <p>
                The Brewery provides very limited parking on property. Much more parking is available across the street, 
                <a href="https://www.google.com/maps/dir/Frankenmuth+Brewery,+425+S+Main+St,+Frankenmuth,+MI+48734/43.3308035,-83.740157/@43.3310896,-83.7398393,317m/data=!3m1!1e3!4m9!4m8!1m5!1m1!1s0x8823f2c1c54bab3f:0xf7b1d07fdb1e1e84!2m2!1d-83.7377902!2d43.3311638!1m0!3e0" target="_blank">behind the Fairfield Inn &amp; Suites.</a>
            </p>
            <p>
                The Brewery site also <a href="http://frankenmuthbrewery.com/contact" target="_blank">provides some additional suggestions</a>:<br/>
                "Additional parking is available behind the Fairfield Inn (accessible off Tuscola St.) 
                and behind the Frankenmuth District Library (accessible from both Main St. and S. Franklin St.). 
                Both lots are short walks to the Frankenmuth Brewery."
            </p>
        </div>
        <div class="col-xs-offset-1 col-xs-9">
            <h4>What to wear</h4>
            <p>
                Please wear semi-formal or dressy-casual attire.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h4>The Ceremony</h4>
        </div>
        <div class="col-xs-offset-1 col-xs-9">
            <h4>Starts at 2:15 p.m.</h4>
            <p>
                To find the ceremony room, enter through the main entrance of the Brewery. 
                Signs and staff will direct to you the correct location.
                The ceremony will be held in a room on a lower-level of the Brewery that overlooks the Cass River.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h4>After The Ceremony</h4>
        </div>
        <div class="col-xs-offset-1 col-xs-9">
            <h4>Location</h4>
            <p>
                After the ceremony, a cocktail hour and, later, the reception will take place in a large beautiful room 
                adjacent to the ceremony room.
            </p>
            <h4>Cocktail hour?</h4>
            <p>
                As a live musician serenades you, an open bar will provide cocktails, wine, 
                and beer brewed by the Brewery. Tasty snacks will be available to tide you over until dinner.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h4>The Reception</h4>
        </div>
        <div class="col-xs-offset-1 col-xs-9">
            <h4>Starts at 4:00 p.m.</h4>
            <p>
                And when we say 4 p.m., we mean it.
            </p>
            <h4>The Foods</h4>
            <p>
                Dinner will be served buffet-style and include burgers, brats, hot dogs, and chicken, 
                as well as potato salad, coleslaw, potato chips, and the house salad.
            </p>
            <p>
                Vegetarian meals can be provided on request. If one is preferred, please let us know as soon as possible.
            </p>
            <h4>Ends at 9 p.m.</h4>
            <p>You are more than welcome to head upstairs to the brewery and continue the night. Enjoy!</p>
        </div>
    </div>
</div>
