<div id="registry">
    <div class="row">
        <div class="col-xs-9">
            <h4>Donations Gratefully Accepted</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <p>
                We do not have a wedding registry. Instead, we are grateful and appreciative for donations made 
                to the following associations.
            </p>
            <p>
                The links below are for our personal donation sites.
            </p>
            <p>
                <strong><a href="https://melissaowenswedding.passioncff.org/" target="_blank">Cystic Fibrosis Foundation</a></strong><br/>
                <strong><a href="http://act.alz.org/goto/MelissaOwenWedding" target="_blank">Alzheimer's Assocation</a></strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h3>Thank you!</h3>
        </div>
    </div>
</div>
