<div id="importantstuff">
    <h4>OK, here's the skinny.</h4>
    <div class="row">
        <div class="col-xs-3 stuffq">
            Who?
        </div>
        <div class="col-xs-9 stuffa">
            Melissa Woytovich and Owen Anderson.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 stuffq">
            What?
        </div>
        <div class="col-xs-9 stuffa">
            We're getting married.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 stuffq">
            Where?
        </div>
        <div class="col-xs-9 stuffa">
            At the <a href="http://frankenmuthbrewery.com/" target="_blank">Frankenmuth Brewery</a> in beautiful Frankenmuth, Michigan. Both the ceremony and reception will be here.
    </div>
    </div>
    <div class="row">
        <div class="col-xs-3 stuffq">
            Why?
        </div>
        <div class="col-xs-9 stuffa">
            That's kind of a rude question, isn't it?
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 stuffq">
            How?
        </div>
        <div class="col-xs-9 stuffa">
            I think we're done here.
        </div>
    </div>
</div>
