<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <title>MELISSA-OWEN.PARTY: Frankie is the guest of honor</title>
        <link href="https://fonts.googleapis.com/css?family=Courgette|Lato" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css"/> 

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="js/vendor/angular.js" type="text/javascript"></script>
        <script src="js/vendor/ui-bootstrap-tpls.js" type="text/javascript"></script>
        <script src="js/app.js"></script>

        <style type="text/css">
            .nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* Angular BS fix */
        </style>
    </head>

    <body ng-app="mopApp" ng-controller="MainController as main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12"></div>
            </div>

            <div class="row">
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-7">
                </div>
            </div>

            <div class="row">
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-7">
                    <ng-include src="'partials/section_intro.html'"></ng-include>
                    <div ng-controller="MainTabsetController as mainTabset">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in mainTabset.tabs" active="{{tab.active}}" heading="{{tab.title}}">
                                <div ng-repeat="template in tab.templates"><div ng-include="template"></div></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-2 col-xs-8" id="footer">
                    <ng-include src="'partials/section_footer.html'"></ng-include>
                </div>
            </div>
        </div>

        <script src="//localhost:35729/livereload.js"></script>
        
        <!-- services -->
        <script src="js/services/get-json.js"></script>
        <script src="js/services/get-slides.js"></script>

        <!-- controllers -->
        <script src="js/controllers/main-controller.js"></script>
        <script src="js/controllers/maintabset-controller.js"></script>

        <!-- directives -->
        <script src="js/directives/hotel-directive.js"></script>
    </body>
</html>
