<div class="col-xs-12 col-sm-6 hotel-info">
    <i class="fa fa-bed" aria-hidden="true"></i>
    <span class="hotel-name"><a ng-href="hotel.website" target="_blank">{{hotel.name}}</a></span><br/>
    <i class="fa fa-map-marker" aria-hidden="true"></i><a ng-href="hotel.address.GMapsUrl" target="_blank">
        {{hotel.address.political}}
    </a><br/>
    <i class="fa fa-phone" aria-hidden="true"></i> {{hotel.phone.number}}<br/>
    <span ng-repeat="comment in hotel.phone.comments">{{comment}}<br/></span>
</div>
<div class="col-xs-12 col-sm-6 hotel-details">
    <div ng-repeat="detail in hotel.details" class="hotel-detail"><i class="fa fa-caret-right" aria-hidden="true"></i> {{detail}}</div>
</div>
